.header {
  background-color: #fff;
position: relative;
z-index: 5;
  &__wrap {
    padding: 17px 0 20px;
    display: flex;
    align-items: center;

    @include r(1219) {
			justify-content: space-between;
			padding-bottom: 17px;
    }

    @include r(1023) {
     
      justify-content: space-around;
    }

    @include r(639) {
      padding: 17px 30px 14px;
    }

    @include r(479) {
      flex-direction: column;
    }
  }
}

.header__info {
	display: flex;
	margin-left: auto;
align-items: center;
  @include r(1023) {
    display: none;
  }
}
.header__timer{
	display: flex;
	align-items: center;
	.timer__title{
		margin-right: 19px;
	}
}

.header__logo {
	margin-right: auto;
	color: #729d22;
font-size: 28px;
font-weight: 700;
line-height: 1;

  @include r(1219) {
		margin-right: 0;
		font-size: 24px;
  }

  @include r(479) {
    margin-bottom: 10px;
  }
}

.header__btn {
  max-width: 140px;
  height: 40px;
  margin-left: 26px;
  border-radius: 5px;
  font-size: 18px;
	border-bottom: 2px solid #c52128;
	box-shadow: inset 0 0 4px rgba(251, 109, 22, 0.48);
  @include r(1219) {
    margin-left: 10px;
	}
	@include r(479) {
    margin-left: 0px;
  }
}



.info__link {
  display: flex;
  align-items: center;
  color: #222;
}

.info__link:hover {
 text-decoration: none;
 .info__text:before{
	 opacity: 0;
 }
}

.info__item, .info__text {
	position: relative;
}
.info__text:before {
	content: '';
	position: absolute;
	width: 99%;
	height: 2px;
	bottom: -1px;
	left: 2px;
	background: url(../img/point.png) repeat-x left center;
	background-size: 5px 5px;
	-webkit-transition: .3s;
	transition: .3s;
}

.info__item:not(:last-of-type) {
  padding-right: 41px;
  margin-right: 37px;
	&:before{
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		width: 1px;
height: 38px;
background-color: #e1e1e1;
	}

  @include r(1219) {
    padding-right: 20px;
    margin-right: 20px;
  }
}

.info__icon {
  margin-right: 13px;
  flex-shrink: 0;
}

.menu__body .info__timer{
	display: none;
}
