.timer
	&__title
		font-size: 16px
		line-height: 1
		color: #222
	&__body
		display: flex
		align-items: center
	&__cell
		background-color: #729d22
		padding: 9px 9.73px 10px
		border-radius: 5px
		color: #ffffff
		font-family: "Open Sans"
		font-size: 22px
		font-weight: 700
		line-height: 1
		&:not(:last-child)
			margin-right: 3px
	&__colon 
		margin-right: 2.5px
		margin-left: 0px
		font-family: "Myriad Pro"
		font-size: 19px
		font-weight: 400
		line-height: 28px
			