section.act.block
	.container
		.act-content
			.act__pack
				img(src="img/pack.png", alt="product")
				.form__image
					img(src="img/form_img.png", alt="image")
					.form__action Акция
			.act__center
				h3.act__title Только сегодня 
					span.date-0(data-format="dd month") 22 октября
					span.act__title--accent  БЕСПЛАТНО
					|  при оформлении заказа!
				.act__timer
					include timer
			button.btn.ever-popup-btn.act__btn Получить
				span.btn__small бесплатно