section.composition.block.section-bg
	.container
		h2.title
			span.accent Антипаразит
			|  - безопасное средство, благодаря своему натуральному составу
		h4.composition__subtitle Состав подобран таким образом, что растительные экстракты взаимно дополняют и усиливают друг друга.
		ul.composition-list
			li.composition-item.composition__img-1
				h5.composition-item__name  Лабазник
				p.composition-item__description выводит распространенные виды паразитов и заживляет раны внутри организма
			li.composition-item.composition__img-2
				h5.composition-item__name  Земляника
				p.composition-item__description выводит из организма токсины
					br
					|  и плохой холестерин, нормализует
					br
					|  обмен веществ
			li.composition-item.composition__img-3
				h5.composition-item__name  Василек синий
				p.composition-item__description очищает кровь и снимает спазм
					br
					|  гладкой мускулатуры внутренних
					br
					|  органов
			li.composition-item.composition__img-4
				h5.composition-item__name  Аир болотный
				p.composition-item__description нейтрализует действие токсичных веществ и выводит их из организма
			li.composition-item.composition__img-5
				h5.composition-item__name  Листья березы
				p.composition-item__description нормализует работу ЖКТ и ЦНС, восстанавливает ослабленный
					br
					|  иммунитет
			li.composition-item.composition__img-6
				h5.composition-item__name  Бессмертник песчаный
				p.composition-item__description снимает воспаление и восстанавливает количественный показатель крови