section.doctor.section-bg.block
	.container
		h2.title Мнение эксперта о 
			span.accent Антипаразит
		h3.doctor__subtitle «Всего один препарат может очистить ваш организм от паразитов»
		.doctor-info
			p.doctor__text У меня часто спрашивают, опасны ли паразиты для здоровья. Конечно, опасны! Они сильно снижают иммунитет, вредят внутренним органам,  влияют на здоровье кожи, не говоря о системе пищеварения и хронических болезнях.
			p.doctor__text Поэтому я рекомендую от них избавляться.
			p.doctor__text Из препаратов лучший на сегодняшний день - АНТИПАРАЗИТ. 
				span.text-nowrap Он отлично
				|  чистит организм, убивает все виды гельминтов, при этом не нарушает микрофлору кишечника и не вызывает
				br
				|  тошноту.
			.doctor-sign
				img.doctor-sert(src="img/doctor-sert.jpg", alt="certificate")
				.doctor-box
					h4.doctor__name Николай Наумов
					p.doctor__prof врач-терапевт
					img(src="img/doctor-sign.png", alt="sign")