section.effects.block.section-bg
    .container
        .effects__wrapper
            h2.title.effects__title Паразиты вызывают множество осложнений
            .effects__content
                .effects__item
                    .effects__item-image
                        img(src="img/effects_item_image_1.png", alt="image")
                    .effects__item-title.text-bold Яйца и личинки попадают в&nbsp;организм:
                    ul.effects__item-option
                        li Через продукты и воду
                        li Через зараженные предметы
                        li Через укусы насекомых
                        li От домашних животных
                        li От зараженных людей
                .effects__item
                    .effects__item-image
                        img(src="img/effects_item_image_2.png", alt="image")
                    .effects__item-title.text-bold Паразиты ведут в&nbsp;организме активную жизнь:
                    ul.effects__item-option
                        li Вырастают до 40 см
                        li Откладывают 245 000 яиц за&nbsp;сутки
                        li Проникают в органы, разрушая&nbsp;их
                        li Выделяют яды и токсины круглосуточно
                .effects__item
                    .effects__item-image
                        img(src="img/effects_item_image_3.png", alt="image")
                    .effects__item-title.text-bold 48% смертей вызваны заражением гельминтами:
                    ul.effects__item-option
                        li Поражают сердце, вызывая инсульт
                        li Провоцируют язву желудка и&nbsp;двенадцатиперстной кишки
                        li Вызывают бронхит, воспаление легких, астму
                        li Поражают мозг и глаза
            h6.effects__note.text-bold Избавиться от паразитов непросто, но на помощь приходит 
                span.text-green Антипаразит
                | !