section.help.block
	.container
		h2.title.help__title
			span.accent Антипаразит 
			|  - избавит от всех видов паразитов
		.help-info
			ul.help-info-list
				li.help-item
					h4.help-item__name Эффективно  уничтожает паразитов
					p.help-item__text остриц, аскарид, власоглавов и&nbsp;лямблий
				li.help-item
					h4.help-item__name Очищает организм от&nbsp;токсинов
					p.help-item__text которые со временем вызывают проблемы
				li.help-item
					h4.help-item__name Восстанавливает организм
					p.help-item__text которые со временем вызывают проблемы с&nbsp;пищеварением
			.help-pack
				img.help-pack__prod(src="img/pack.png", alt="product")
				img.help-pack__sert(src="img/doctor-sert.jpg", alt="sertificate")
			ul.help-info-list.help-list-right
				li.help-item
					h4.help-item__name Предотвращает повторное заражение
					p.help-item__text укрепляя иммунитет, ослабленный паразитами
				li.help-item
					h4.help-item__name Очищает организм от&nbsp;токсинов
					p.help-item__text которые со временем вызывают проблемы
				li.help-item
					h4.help-item__name Очищает организм от&nbsp;токсинов
					p.help-item__text которые со временем вызывают проблемы с&nbsp;пищеварением
		.help-doctor
			.help-doctor-box
				h4.help-doctor__name Николай Наумов
				p.help-doctor__prof врач-терапевт высшей категории
				p.help-doctor__text Паразитов нужно выводить обязательно. Если не делать этого, они будут размножаться, отравляя организм, подрывая здоровье и вызывая болезни.
				p.help-doctor__img
					img.help-doctor__img--sert(src="img/doctor-sert.jpg", alt="sertificate")
					img.help-doctor__img--sign(src="img/help-sign.png", alt="signature")
					img.help-doctor__img--cardio(src="img/cardio-logo.png", alt="cardio-logo")
		.help-quality
			img(src="img/help-qua1.jpg", alt="quality")
			img(src="img/help-qua2.jpg", alt="quality")
			img(src="img/help-qua3.jpg", alt="quality")
			img(src="img/help-qua4.jpg", alt="quality")
