.infection.block
	.container
		h2.title Паразиты 
			span.accent-title повсюду!
		ul.infection-list
			li.infection-item
				.infection-item__img
					img(src="img/infected-1.jpg", alt="infection")
				h3.infection-item__name Рукопожатия
			li.infection-item
				.infection-item__img
					img(src="img/infected-2.jpg", alt="infection")
				h3.infection-item__name Грязь
			li.infection-item
				.infection-item__img
					img(src="img/infected-3.jpg", alt="infection")
				h3.infection-item__name Овощи, фрукты, мясо, рыба
			li.infection-item
				.infection-item__img
					img(src="img/infected-4.jpg", alt="infection")
				h3.infection-item__name Домашние животные
			li.infection-item
				.infection-item__img
					img(src="img/infected-5.jpg", alt="infection")
				h3.infection-item__name Мобильный телефон
			li.infection-item
				.infection-item__img
					img(src="img/infected-6.jpg", alt="infection")
				h3.infection-item__name Одежда и обувь
			li.infection-item
				.infection-item__img
					img(src="img/infected-7.jpg", alt="infection")
				h3.infection-item__name Детский сад и школа
			li.infection-item
				.infection-item__img
					img(src="img/infected-8.jpg", alt="infection")
				h3.infection-item__name Общественный транспорт
			li.infection-item
				.infection-item__img
					img(src="img/infected-9.jpg", alt="infection")
				h3.infection-item__name Деньги
			li.infection-item
				.infection-item__img
					img(src="img/infected-10.jpg", alt="infection")
				h3.infection-item__name Укусы насекомых
			li.infection-item
				.infection-item__img
					img(src="img/infected-11.jpg", alt="infection")
				h3.infection-item__name Пляж
		p.infection__thesis 
			span.infection__thesis--star *
			| глисты легко попадают в организм и быстро размножаются