section.order.block
    .container
        h2.order__title.title.text-black Как заказать 
            span.accent Антипаразит
        .order__steps
            .order__item
                .item__content
                    img(src="img/order_form.png", alt="product")
                .header-text.text-bold Заполните форму  заказа
                .header-text-descr Укажите только свое имя и номер телефона
            .order__item
                .item__content.item__content-second
                    img(src="img/order_operator.png", alt="operator")
                .header-text.text-bold  Примите звонок оператора
                .header-text-descr Он уточнит ваш адрес доставки и&nbsp;контактные данные 
            .order__item
                .item__content.item__content-third
                    img(src="img/order_pack.png", alt="pack")
                .header-text.text-bold  Получите заказ
                //- .header-text-descr Никаких предоплат, оплата после доставки
            .order__item
                .item__content.item__content-fourth
                    img(src="img/order_legs.png", alt="legs")
                .header-text.text-bold  Избавьтесь
                    br
                    | от паразитов
                .header-text-descr Поднимите иммунитет и&nbsp;укрепите здоровье
