.ever-popup-build
	.my-popup(id="cloneThis")
		.my-popup__wrap
			.my-popup__left
				h1.promo__title.title Антипаразит
				h2.promo__subtitle очищает организм 
					span.text-nowrap от паразитов 
					| и укрепляет иммунитет
				.my-popup__pack
					img(src="img/pack.png", alt="Varilif")
					img.my-popup__quality(src="img/quality-pack.png", alt="quality sign")
			.my-popup__right
				include form
