section.reviews.block
	.container
		h2.title Отзывы людей о препарате
			br
			span.accent  Антипаразит
		ul.reviews-content
			li.reviews-item
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava1.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Кирилл Т.
						p.reviews-item__age 47 лет
				p.reviews-item__text Этот Антипаразит действительно помог и я его всем советую. Так как я разные средства пробовал, но через месяц или недели две опять начинались
					br
					|  проблемы. Так как не мог вывести всех паразитов и они снова размножались. А с этим препаратом все прошло на ура. Прошел один курс и никаких больше паразитов. Но я все равно каждые полгода советую делать профилактику.
				button.reviews-item__btn
			li.reviews-item
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava2.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Мария В.
						p.reviews-item__age 34 года
				p.reviews-item__text Добрый день, хочу рассказать про препарат от паразитов. Я его выбрала потому, что мне нужно было средство безопасное и без побочных эффектов. Когда я его принимала, у меня все было хорошо. Голова не кружилась, не было никаких проблем с желудком. Слабости тоже не было. В итоге, я могу рекомендовать этот препарат для всех у кого чувствительный организм.
				button.reviews-item__btn
			li.reviews-item
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava3.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Анна М.
						p.reviews-item__age 28 лет
				p.reviews-item__text Я долго выбирала какой препарат попробовать. Потому, что сейчас их очень много. Но в итоге остановилась на этом. Пропила неделю и скажу, что разница колоссальная. Я перестала простужаться, у меня прошла аллергия на коже. И это все было из-за паразитов. Избавилась от них и теперь стала чувствовать себя, как на вершине мира.
				button.reviews-item__btn
			li.reviews-item.rev--full
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava4.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Александр С.
						p.reviews-item__age 51 год
				p.reviews-item__text Покупала для себя и детей, так как дома у нас два спаниеля живет. Про эффект скажу, что он есть, хороший и бережный. Никого не тошнило, все чувствуют себя прекрасно. Даже невероятно, что если вывести паразитов, то здоровье в миг укрепляется.
				button.reviews-item__btn
			li.reviews-item.rev--full
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava5.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Георгий Т.
						p.reviews-item__age 48 год
				p.reviews-item__text Препарат удобно принимать, после него нет никакого послевкусия неприятного. Ощущений в животе неприятных тоже нет. Доставили быстро, даже быстрей на один день. Скажу, что следующую чистку я буду делать тоже этим же препаратом. Потому, как чистить от паразитов он отлично.
				button.reviews-item__btn
			li.reviews-item
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava6.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Юлия К.
						p.reviews-item__age 49 год
				p.reviews-item__text Сначала не хотела пользоваться этим препаратом, но потом решила, что все-таки надо попробовать. Их эффектов я отмечу, что у меня пропала сонливость. Я раньше, как сонная муха ходила, но теперь энергия бьет ключом просто. То же скажу про настроение, настроение после курса просто замечательное. Я препарат посоветовала всем своим знакомым, у кого дома есть животные, ведь глисты очень опасны. Здоровье подрывают только так.
				button.reviews-item__btn
			li.reviews-item.rev--full
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava7.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Вероника Н.
						p.reviews-item__age 39 год
				p.reviews-item__text Отличный способ для чистки и профилактики от глистов. Никаких побочных эффектов я не заметила. Голова не кружилась, живот не болел и совсем не тошнило. Советую для всех, у кого чувствительный организм к лекарствам.
				button.reviews-item__btn
			li.reviews-item.rev--full
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava8.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Марина Е.
						p.reviews-item__age 43 год
				p.reviews-item__text Покупала себе и своей дочке, потому что у меня были проблемы с желудком, а у нее сыпь. Посоветовала АНТИПАРАЗИТ мне наш знакомый терапевт, сказала, что у нас глисты скорее всего. Мы пропили препарат этот. Видно вся гадость из нас ушла, потому что за пару дней самочувствие стало хорошим.
				button.reviews-item__btn
			li.reviews-item.rev--full
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava9.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Карэн Р.
						p.reviews-item__age 34 год
				p.reviews-item__text Я пил АНТИПАРАЗИТ после того, как поел шаурмы в ларьке,а потом вечером просто пронесло. Я таксую и в туалет бегать мне некогда. Надо было быстрое решение. АНТИПАРАЗИТ справился с задачей. Пропил и на следующий день уже все хорошо.
				button.reviews-item__btn
			li.reviews-item
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava10.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Анатолий
						p.reviews-item__age 52 год
				p.reviews-item__text Очень быстрая доставка у магазина, я даже не ожидал. Потому что доставили на день раньше, чем говорили. Еще менеджер Ана была очень вежливая. Помогла очень. Рассказала, как пользоваться, заказать помогла. Про сам АНТИПАРАЗИТ ничего плохого сказать не могу. Но чувствую себя лучше, чем до него.
				button.reviews-item__btn
			li.reviews-item
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava11.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Ирина
						p.reviews-item__age 47 год
				p.reviews-item__text Пропила АНТИПАРАЗИТ после поездке по средней Азии, чтобы паразитов вывести. Очень удобно принимать, это не таблетки, в горле не застревают. Еще из плюсов назову, что действуют незаметно. Просто понимаешь, что с животом и пищеварением все хорошо. Не тошнит, нет усталости. В моем возрасте и моей работой крепкое здоровье очень нужно.
				button.reviews-item__btn
			li.reviews-item.rev--full
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava12.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Людмила Щ.
						p.reviews-item__age 56 год
				p.reviews-item__text Довольна препаратом полностью, так как смогла всю семью избавить от проблем с глистами. Как говорится, нет глистов – нет проблем. Раньше таблетки пили, а теперь будем только Антипаразит заказывать.
				button.reviews-item__btn
			li.reviews-item.rev--full
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava13.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Катерина Т.
						p.reviews-item__age 31 год
				p.reviews-item__text Хорошее средство от глистов и других паразитов. Легко принимать, не надо давится таблетками. Вкус нейтральный, нет химического привкуса. Нет никакого послевкусия после него. Приехал вовремя, в крепкой упаковке.
				button.reviews-item__btn
			li.reviews-item.rev--full
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava14.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Максим Д.
						p.reviews-item__age 51 год
				p.reviews-item__text Заказал по рекомендации знакомой, которая недавно глисты гоняла. Сказала, что Антипаразит высшего класса вещь. Попробовал. Да, за недельку всех глистов вывел. Живот перестал беспокоить, и голова вообще перестала болеть. А не так как раньше, через каждые пару дней.
				button.reviews-item__btn
			li.reviews-item.rev--full
				.reviews-item-top
					.reviews-item__img
						img(src="img/ava15.jpg", alt="avatar")
					.reviews-item-info
						h4.reviews-item__name  Валентина М.
						p.reviews-item__age 48 год
				p.reviews-item__text Паразиты гробят здоровье только так и поэтомы я всегда делаю профилактику и в этот раз для профилактики взяла Антипаразит. Средство нормальное и без побочек, я почувствовала эфект через два дня. Еще скажу, что кожа стала лучше выглядеть, что сонливость прошла.
				button.reviews-item__btn
		h3.reviews__subtitle Вы принимали 
			span.accent Антипаразит?
			br
			|  Помогите другим убедиться в его эффективности
		button.reviews__btn.ever-popup-btn.btn Оcтавить отзыв