section.simile.block
	.container
		h2.title Чем 
			span.accent Антипаразит
			|  лучше 
			br
			|  традционных средств?
		ul.simile-list
			li.simile-item.simile-item__prod
				.simile-border
				.simile-pack
				h3.simile-item__title Средство Антипаразит
				ul.simile-product
					li.simile-product__item В составе мощный комплекс экстрактов
						span.text-nowrap  и вытяжек
						|  из лекарственных трав
					li.simile-product__item Очищает организм от паразитов уже после первого же курса
					li.simile-product__item Сертифицированный и рекомендуемый  медиками препарат нового
						br.simile-br
						|  поколения
					li.simile-product__item Оказывает мягкое и эффективное комплексное воздействие 
			li.simile-item.simile-other-box
				.simile-other-pack
				h3.simile-item__title Традиционные средства
				ul.simile-other
					li.simile-other__item.simile-product__item В состав входят химия и гормоны, наносящие
						br
						|  вред организму
					li.simile-other__item.simile-product__item Очищает минимум за несколько курсов, 
						span.text-nowrap не гарантирует
						|  результа
					li.simile-other__item.simile-product__item В большинстве случаев устарели и не воздействуют на виды паразитов, открытые недавно
					li.simile-other__item.simile-product__item Имеют массу побочных действий, вызывают споры у врачей относительно своей эффективности 
		.simile-sert
			img(src="img/stat-sert-1.jpg", alt="sertificate")
			img(src="img/stat-sert-2.jpg", alt="sertificate")
			img(src="img/stat-sert-3.jpg", alt="sertificate")