section.use.block
	.container
		h2.use__title.title
			| Как принимать 
			span.accent Антипаразит
		.use__wrap
			.use__prod
				img(src='img/pack.png', alt='pack')
			.use__items
				.use__item.use__item--first
					.use__item-img
						img(src='img/use-1.png', alt='usage')
					div
						p.use__text 10 капель растворите 
							span.text-nowrap в 20 мл 
							| теплой воды
				.use__item.use__item--second
					.use__item-img
						img(src='img/use-2.png', alt='usage')
					div
						p.use__text Принимайте 3 раза в день 
							span.text-nowrap за 30 мин 
							|  до еды
				.use__item.use__item--third
					.use__item-img
						img(src='img/use-3.png', alt='usage')
					div
						p.use__text Рекомендуемый курс приема — не менее 30 дней
	section.recommendation
		.container
			.recommendation__wrap
				.recommendation__img
					img.recommendation__doctor(src='img/expert.png', alt='expert')
					
				.recommendation__item.recommendation__item--first
					.recommendation__title
						span.recommendation__title--bold Рекомендация доктора Наумова:
						br
						| врач-терапевт
						.recommendation__title--logo 
							img(src='img/cardio-logo.png', alt='cardio')
							
					img(src='img/check.png', alt='checkmark')
					p.recommendation__text
						span.recommendation__text--normal
							| Чтобы усилить 
							br
							| действие Антипаразит 
						|  Строго придерживайтесь инструкции
				.recommendation__item.recommendation__item--second
					img(src='img/check.png', alt='checkmark')
					p.recommendation__text
						span.recommendation__text--normal
							| Для максимального эффекта Антипаразит 
						| Чаще мойте руки с мылом, используйте антисептические салфетки
				.recommendation__item.recommendation__item--third
					img(src='img/check.png', alt='checkmark')
					p.recommendation__text
						span.recommendation__text--normal
							| Для долговременной защиты организма от паразитов
						| Пропейте курс витаминов, чтобы поднять иммунитет 
						span.text-nowrap и закрепить 
						|  защиту от глистов
