<section class="wPopup">
  <div class="container">
    <div class="wPopup__prod">
      <img src="img/pack.png" alt="Варифил" class="wPopup__prod__pack" />
			<div class="form__image wPopup-action"><img src="img/form_img.png" alt="image">
				<div class="form__action">Акция</div>
			</div>
    </div>
    <div class="wPopup__until">
	
			Только сегодня <span class="date-0" data-format="dd month"></span> <span style="display: none;" class="price"><span class="x_price_current">196</span> <span class="x_currency">руб</span></span>
<span class="wPopup__until--color">БЕСПЛАТНО</span><br> при оформлении заказа!

    </div>
    <div class="wrapper">
      <div class="header__timer header-timer timer-container">
				<div class="info__item header__timer">
					<div class="timer__title">До конца акции<br>осталось:</div>
						<div class="timer__body">
							<div class="timer__cell hours">0</div>
							<div class="timer__cell hours">0</div>
							<div class="timer__colon">:</div>
							<div class="timer__cell minutes">1</div>
							<div class="timer__cell minutes">6</div>
							<div class="timer__colon">:</div>
							<div class="timer__cell seconds">0</div>
							<div class="timer__cell seconds">1</div>
						</div>
					</div>
				</div>
    </div>
    <div class="btndiv">
      <button class="ever-popup-btn btn">Получить бесплатно</button>
    </div>
  </div>
</section>
