<section class="receive receive--bg block">
  <div class="container">
    <div class="receive-content">
      <h2 class="receive__title title">
        Внимание <span class="color--red">Акция!</span>
      </h2>
      <div class="receive-box">
        <div class="receive-text">
          <h4 class="receive__when">
       
						Только сегодня  <span data-format="dd month" class="date-0">09 декабря</span><br>
						<span class="color--red"><b>БЕСПЛАТНО</b></span> при оформлении заказа
          </h4>
          <div class="timerr receive-timer">
            <p class="timerr__title">
              До конца акции<br />
              осталось:
            </p>
            <div class="timerr-container">

				
									<div class="timer__body">
										<div class="timer__cell hours">0</div>
										<div class="timer__cell hours">0</div>
										<div class="timer__colon">:</div>
										<div class="timer__cell minutes">1</div>
										<div class="timer__cell minutes">0</div>
										<div class="timer__colon">:</div>
										<div class="timer__cell seconds">3</div>
										<div class="timer__cell seconds">1</div>
									</div>
					
            </div>
          </div>
          <div class="receive-pack pack">
            <img src="img/pack.png" alt="wortex" />
          </div>

					<form class="x_order_form receive-form" action="/submit" method="post">
						<div class="form__name"><img src="img/form_name_icon.png" alt="image"><input class="input" type="text" name="name" placeholder="Мое имя" required=""></div>
						<div class="form__phone"><img src="img/form_phone_icon.png" alt="image"><input class="input" type="tel" name="phone" placeholder="Мой телефон" required=""></div><button class="btn form-btn receive__btn">Получить<span class="btn__small">бесплатно</span></button>
					</form>
        </div>
      </div>
    </div>
  </div>
</section>
